
		<section class="banner">
			<div class="container-banner">
				<div class="container">
						<div class="contenido">
								<div class="banner-content col-lg-6">
									<h1>Anticuchería El búen Sazón</h1>
									<hr>
									<p>Restaurante de antichuería</p>
								</div>
							</div>
				</div>
				
			</div>
		</section>
	
		<div class="go-down">
			<a href="#" id="btn-go-down">
				<img class="go-down-img" src="assets/img/go-down.png" alt="">
			</a>
		</div>
		
<router-outlet></router-outlet>