<header>
  <div class="container">
    <div class="header-wrap">
      <nav class="header-top d-flex justify-content-between align-items-center">
        <div class="col menu-left">
          <a class="active" href="index.html">Home</a>
          <a href="about.html">Conócenos</a>
        </div>
        <div class="col-3 logo">
          <a href="index.html"><img class="mx-auto" src="../../../assets/img/logo.png" alt="" height="50px"></a>
        </div>
        <div class="col menu-right">
          <a href="#" id="armaTuPedido">Arma tu pedido</a>
          <a href="about.html">Reseñas</a>
        </div>
      </nav>
    </div>
  </div>
  <nav class="menu-android navbar navbar-light bg-lignt">

    <div class="navbar-collapse collapse" id="collapsingNavbar2">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conócenos</a>
          <a class="nav-link" href="#">Arma tu pedido</a>
          <a class="nav-link" href="#">Reseñas</a>
        </li>
      </ul>
    </div>
    <a href="index.html"><img class="mx-auto" src="../../../assets/img/logo.png" alt="" height="40px"></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
      <span class="navbar-toggler-icon my-toggler"></span>
    </button>
  </nav>
  </header>

  <router-outlet></router-outlet>