<section class="about">
  <div class="mision">
    <h3>Misión</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem vel eveniet unde culpa asperiores soluta neque! Atque recusandae tempore, dicta eum ullam nisi aspernatur! Nam?</p>
  </div>
  <div class="esencia">
      <h3>Esencia</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem vel eveniet unde culpa asperiores soluta neque! Atque recusandae tempore, dicta eum ullam nisi aspernatur! Nam?</p>
  </div>
  <div class="promise">
      <h3>Compromiso</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem vel eveniet unde culpa asperiores soluta neque! Atque recusandae tempore, dicta eum ullam nisi aspernatur! Nam?</p>
  </div>
  <div class="ambiente">
      <h3>Ambiente</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem vel eveniet unde culpa asperiores soluta neque! Atque recusandae tempore, dicta eum ullam nisi aspernatur! Nam?</p>
  </div>
</section>