
h1::selection,h2::selection,h3::selection, span::selection,
p::selection, a::selection, label::selection  {
    background: rgb(126, 161, 60);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #fff;
}

/* Firefox */
h1::-moz-selection,h2::-moz-selection,h3::-moz-selection, span::-moz-selection,
p::-moz-selection, a::-moz-selection, label::-moz-selection {
    background: rgb(126, 161, 60);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #fff;
}

h1,h2,h3 {
    
    font-family: "Playfair Display", serif;
}
a{
    font-family: 'Open Sans', sans-serif;
}
/*-----------------------HEADER--------------*/
header {
    padding: 10px 0;
    position: relative;
    background-color: #fff;
    width: 100%;
    z-index: 999999;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; 
}

.logo {
     display: flex;
     justify-content: center;
}
.menu-right, .menu-left{
     display: flex;
     justify-content: space-around;
    
}
header .header-wrap{
    margin: 10px 0px;
}

header nav a{
    display: block;
    color: #071d27;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: none;
    color: #df9d23;
    animation: 0.5s hover-transicion linear;
}
@keyframes hover-transicion {
    from{
        color: #071d27;
    }
    to{
        color: #df9d23;
        text-decoration: none;
    }
}
header .menu-android{
    visibility:hidden;
    height: 0px;
}
@media screen and (max-width: 991px) {

    header .menu-android{
        visibility: visible;
        height: auto;
    }
    .header-wrap{
        display: none;
    }
    .navbar-toggler-icon{
        background: #000;
    }

}
/*-------------------- BANNER -----------------------------*/
header{
        position: fixed;
}
.banner .container-banner{
    
    background: url("../../../assets/img/header-bg.png") no-repeat center;
    background-size: cover;
    width: 100%;
    margin: auto;
}

.banner .container-banner .contenido{
    color: #fff;
    height: 750px;
}
.banner .container-banner .contenido .banner-content hr{
    background: #fff;
}
.banner .container-banner .contenido {
    display: flex;
    justify-content: center;
}
.banner .container-banner .contenido .banner-content{
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 991px) {

    .banner .container-banner {
        width: 100%;
        height: 500px;
    } 
    .banner .container-banner .contenido {
        height: 500px;
    }
}


/*Por ahora para poner el banner*/
@media screen and (max-width: 991px) {

    .banner{
        margin-top: 80px;
    }
    header{
        position: fixed;
        margin-top: -80px;
    }
}

/*-------------------GO-DOWN-----------------------*/
.go-down {
    position: relative;
    margin-top: -52px;
    z-index: 222222;
    text-align: center; 
}
.go-down .go-down-img {
      cursor: pointer;
      -webkit-animation: go-up-down 1.5s infinite 0s;
      -moz-animation: go-up-down 1.5s infinite 0s;
      -o-animation: go-up-down 1.5s infinite 0s;
      animation: go-up-down 1.5s infinite 0s; 
}

@-webkit-keyframes go-up-down {
    0% {
        -webkit-transform: translateY(-70px);
        -moz-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        -o-transform: translateY(-70px);
        transform: translateY(-70px);
        opacity: 0.1; 
    }
    100% {
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          -o-transform: translateY(0px);
          transform: translateY(0px);
          opacity: 1; 
    } 
}
@keyframes go-up-down {
    0% {
        -webkit-transform: translateY(-70px);
        -moz-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        -o-transform: translateY(-70px);
        transform: translateY(-70px);
        opacity: 0.1; 
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1; 
    } 
}


/*-------------------MENU-AREA---------------------*/
.menu-area .container2{
    width: 90%;
    margin: auto;
}
.menu-area .container2 img{
    display: block;
    width: 65% ;
    height: 500px;
    margin: 30px auto;
    margin-bottom: 15px;
    display: none;
}
.menu-area .container2 h3{
    display: block;
    width: 75% ;
    margin: auto;
    display: none;
}
.menu-area .container2 .list-right{
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.menu-area .container2 .list-right .single-menu{
    display: block;
    padding: 20px;
}
.menu-area .container2 .list-right .single-menu h3{
    display: block;
    margin: 20px auto;
}

.menu-area .container2 .list-right .single-menu .list{
    list-style: none;
}

.menu-area .container2 .list-right .single-menu .list li{
    display: block;
    display: flex;
    justify-content: center;
}
.menu-area .container2 .list-right .single-menu .list li label{
    order: 0;
    cursor: pointer;
}
.menu-area .container2 .list-right .single-menu .list li input{
    order: 1;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 8px;
}
.menu-area .container2 .list-right .single-menu .precio{
    display: block;
    padding: 10px;
    background: transparent;
    color: rgb(196, 42, 15);
    border: 1px solid rgb(196, 42, 15);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    display: none;
}
.menu-area .container2 .list-right .single-menu .precio:hover{
    /*background: rgba(0, 0, 0, 0.8);*/
    background: url("../../../assets/img/btn-bg.jpg");
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.menu-area .container2 .list-right .single-menu .list li span{
    order: 1;
    display: block;
    margin-left: 20px;
}
.primary-btn {
    line-height: 48px;
    padding: 0 30px;
    border-radius: 0px;
    background: #ad9966;
    border: 1px solid #ad9966;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    position: relative;
    letter-spacing: 2px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer; 
}
.primary-btn:focus {
    outline: none; 
}
.primary-btn:hover {
    background: transparent;
    color: #ad9966; 
}
.primary-btn.dark {
    background: #000000;
    color: #ffffff;
    border: 1px solid #ffffff; 
}
.primary-btn.dark:hover {
    background: transparent;
    Border: 1px solid #ad9966;
    color: #ad9966; 
}
  

@media screen and (max-width: 991px) {
    .menu-area .container2{
        width: 100%;
        margin: auto;
    }
    .menu-area .container2 img{
        display: block;
        width: 100% ;
        height: 150px;
        margin-bottom: 20px;
        display: none;
    }
    .imagen-texto{
        margin-bottom: 20px;
    }
    .menu-area .container2 .list-right{
        margin-bottom: 0.5px;
    }
}
.count{    
    border-radius: 10px;
    width: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    font-weight: bold;
}