
h1::selection,h2::selection,h3::selection, span::selection,
p::selection, a::selection, label::selection  {
    background: rgb(126, 161, 60);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #fff;
}

/* Firefox */
h1::-moz-selection,h2::-moz-selection,h3::-moz-selection, span::-moz-selection,
p::-moz-selection, a::-moz-selection, label::-moz-selection {
    background: rgb(126, 161, 60);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #fff;
}

h1,h2,h3 {
    
    font-family: "Playfair Display", serif;
}
a{
    font-family: 'Open Sans', sans-serif;
}


/*-------------------MENU-AREA---------------------*/
.menu-area .container2{
    width: 100%;
    margin: auto;
}
.menu-area .container2 img{
    display: block;
    width: 65% ;
    height: 500px;
    margin: 30px auto;
    margin-bottom: 15px;
    display: none;
}
.delimitar{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.menu-area .container2 h3{
    display: block;
    width: 75% ;
    margin: auto;
    display: none;
}
.menu-area .container2 .list-right{
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.menu-area .container2 .list-right .single-menu{
    display: block;
    padding: 20px;
}
.menu-area .container2 .list-right .single-menu h3{
    display: block;
    margin: 20px auto;
}

.menu-area .container2 .list-right .single-menu .list{
    list-style: none;
}

.menu-area .container2 .list-right .single-menu .list li{
    display: block;
    display: flex;
    justify-content: space-between;
}
.menu-area .container2 .list-right .single-menu .list li label{
    display: block;
    order: 0;
    cursor: pointer;
    width: 80%;
}
.menu-area .container2 .list-right .single-menu .list li input{
    order: 1;
    display: block;
    width: 8%;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 8px;
}
.menu-area .container2 .list-right .single-menu .precio{
    display: block;
    padding: 10px;
    background: transparent;
    color: rgb(196, 42, 15);
    border: 1px solid rgb(196, 42, 15);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    display: none;
}
.menu-area .container2 .list-right .single-menu .precio:hover{
    /*background: rgba(0, 0, 0, 0.8);*/
    background: url("../../../assets/img/btn-bg.jpg");
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.menu-area .container2 .list-right .single-menu .list li span{
    order: 1;
    display: block;
    margin-left: 20px;
}
.primary-btn {
    line-height: 48px;
    padding: 0 30px;
    border-radius: 0px;
    background: #ad9966;
    border: 1px solid #ad9966;
    color: #fff;
    display: inline-block;
    font-weight: normal;
    position: relative;
    letter-spacing: 2px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer; 
}
.primary-btn:focus {
    outline: none; 
}
.primary-btn:hover {
    background: transparent;
    color: #ad9966; 
}
.primary-btn.dark {
    background: #000000;
    color: #ffffff;
    border: 1px solid #ffffff; 
}
.primary-btn.dark:hover {
    background: transparent;
    Border: 1px solid #ad9966;
    color: #ad9966; 
}
  

@media screen and (max-width: 991px) {
    .menu-area .container2{
        width: 100%;
        margin: auto;
    }
    .menu-area .container2 img{
        display: block;
        width: 100% ;
        height: 150px;
        margin-bottom: 20px;
        display: none;
    }
    .imagen-texto{
        margin-bottom: 20px;
    }
    .menu-area .container2 .list-right{
        margin-bottom: 0.5px;
    }
}
.count{    
    border-radius: 10px;
    width: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    font-weight: bold;
}