
		<section class="menu-area">
			<div class="container2">
				<div class="row align-items-center delimitar">
					<div class="col-lg-6 col-md-6">
						<div class="imagen-texto">
							<img id="img-platillo" src="assets/img/plato/anticucho.jpg" alt="">
							<h3 id="descripcion-platillo">{{descripcion}}</h3>
						</div>
						
					</div>
					<div class="list-right col-lg-6 col-md-6">
						<div class="menu-list">
							<div class="single-menu">
								<h3>
									PARILLA
								</h3>
								<ul class="list">
									<li *ngFor="let plato of platos">
										<input type="number" id="{{plato.precio}}" class="count" value="0" min="0" max="100"/>
										<label class="name-platillo" for="{{plato.imagen}}" (click)="setDescripcion(plato.descripcion)">{{plato.nombre}} ... ${{plato.precio}}</label>
									</li>
								</ul>
							</div>
							<div class="single-menu">
								<h3>
									BEBIDAS
								</h3>
								<ul class="list">
									<li *ngFor="let bebida of bebidas">
										<input type="number" id="{{bebida.precio}}" class="count" value="0" min="0" max="100"/>
										<label class="name-platillo" for="{{bebida.imagen}}" (click)="setDescripcion(bebida.descripcion)">{{bebida.nombre}} ... ${{bebida.precio}}</label>
									</li>
								</ul>
							</div>
						</div>
						<button class="primary-btn" id="btn-precio" (click)="calcularPrecio()">Calcula el precio</button>
						<div class="single-menu" >
							<ul class="list precio" >
								<li>
									<label>El precio total es : </label><span>{{precio}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</section>