
		<section class="banner">
			<div class="container-banner">
				<div class="container">
						<div class="contenido">
								<div class="banner-content col-lg-6">
									<h1>Anticuchería El búen Sazón</h1>
									<hr>
									<p>Restaurante de antichuería</p>
								</div>
							</div>
				</div>
				
			</div>
		</section>
	
		<div class="go-down">
			<a href="#" id="btn-go-down">
				<img class="go-down-img" src="../../../assets/img/go-down.png" alt="">
			</a>
		</div>
		
	
		<section class="menu-area">
			<div class="container2">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6">
						<div class="imagen-texto">
							<img id="img-platillo" src="img/btn-bg.jpg" alt="">
							<h3 id="descripcion-platillo" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, repellat!</h3>
						</div>
						
					</div>
					<div class="list-right col-lg-6 col-md-6">
						<div class="menu-list">
							<div class="single-menu">
								<h3>
									PARILLA
								</h3>
								<ul class="list">
									<li>
										<input type="number" id="plato-anticucho" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="plato-anticucho">Lorem ipsum dolor sit amet consectetur elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="plato-rachi" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="plato-rachi">Lorem ipsum dolor sit amet consectetur adipisicing elit ... $50.00</label>
									</li>
									<li>
										 <input type="number" id="p3" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p3">Lorem ipsum dolor sit amet consectetur elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p4" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p4">Cheese</label>
									</li>
								</ul>
							</div>
							<div class="single-menu">
								<h3>
									BEBIDAS
								</h3>
								<ul class="list">
									<li>
										<input type="number" id="p5" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p5">Lorem ipsum dolor sit amet consectetur elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p6" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p6">Lorem ipsum dolor sit amet consectetur adipisicing elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p7" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p7">Lorem ipsum dolor sit amet consectetur elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p8" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p8">Cheese</label>
									</li>
								</ul>
							</div>
							<div class="single-menu">
								<h3>
									BEBIDAS
								</h3>
								<ul class="list">
									<li>
										<input type="number" id="p9" class="count" value="1" min="0" max="100" /><label class="name-platillo" for="p9">Lorem ipsum dolor sit amet consectetur elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p10" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p10">Lorem ipsum dolor sit amet consectetur adipisicing elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p11" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p11">Lorem ipsum dolor sit amet consectetur elit ... $50.00</label>
									</li>
									<li>
										<input type="number" id="p12" class="count" value="1" min="0" max="100"/><label class="name-platillo" for="p12">Cheese</label>
									</li>
								</ul>
							</div>
						</div>
						<button class="primary-btn " id="btn-precio">Calcula el precio</button>
						<div class="single-menu">
							<ul class="list precio">
								<li>
									<label >El precio total es : </label> <span>$80.00</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
		</section>